.gallery{
    display: flex;
    gap: 30px;
    margin: 0;
    padding: 0;
}

.gallery-item{
    list-style: none;
}

.gallery-item img{
    /* height: 300px; */
    width: 100%;
}

.task-title{
    color: #4caf50;
    font-size: 20px;
    text-align: center;
}


#validation-input {
    border: 3px solid #bdbdbd;
}

#validation-input.valid {
    border-color: #4caf50;
}

#validation-input.invalid {
    border-color: #f44336;
}

